.faq-section .WhiteBg-text-container {
  margin-bottom: 0px;
}

.more-faq-link {
  text-decoration: none;
  color: var(--text-gold);
  position: relative;
  font-size: var(--font-size-small);
  background-color: transparent;
  border: none;
}

.more-faq-link::after {
  content: '';
  position: absolute;
  left: -30px;
  bottom: -5px;
  width: calc(100% + 60px);
  height: 4px;
  background-color: var(--text-gold);
  transition: var(--line-stretching-transition);
}

.more-faq-link:hover::after {
  left: -60px;
  width: calc(100% + 120px);
}
