.results-container {
  gap: 10%;
  width: 80%;
  margin-top: 150px;
}

.result-item {
  width: 45%;
  margin: 20px 0;
  padding: 20px;
  background-color: var(--light-blue-background);
  border-radius: 10px;
}

.result-title {
  font-size: var(--font-size-med-small);
  padding-bottom: 15px;
}

.result-item img {
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
  display: block;
  border-radius: 20px;
}

.compare-handle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d6e3ea;
  border: 2px solid #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.compare-handle:hover {
  background-color: #b5cdd8;
  transition: background-color 0.3s ease;
}

.arrow-handle {
  width: 0;
  height: 0;
  border-width: 9px;
  border-style: solid;
}

.left-arrow {
  border-color: transparent #fff transparent transparent;
  margin-right: 4px;
}

.right-arrow {
  border-color: transparent transparent transparent #fff;
  margin-left: 4px;
}

.compare-label {
  position: absolute;
  bottom: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: var(--font-size-small);
  background-color: rgba(255, 255, 255, 0.471);
  color: var(--text-black);
}

.left-label {
  left: 10px;
}

.right-label {
  right: 10px;
}
