.footer-container {
  color: var(--text-white);
  padding: 20px;
}

.footer-nav-container .nav-menu,
.footer-text-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-white);
  padding: 0;
  font-size: var(--font-size-extra-small);
}

.footer-nav-container .nav-menu a {
  color: var(--text-white);
}

.footer-background-overlay {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  background-color: var(--dark-blue-background);
  z-index: -1;
}

.footer-text-container {
  font-size: var(--font-size-extra-small);
}

.footer-text-container li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-line {
  border: 0;
  width: 70%;
  height: 1.5px;
  background-color: var(--white-element);
}

.footer-container li a,
.footer-container a {
  color: var(--text-white);
  text-decoration: none;
}

.footer-container li a:hover,
.footer-container a:hover {
  color: var(--hover-text-white);
}

@media (max-width: 700px) {
  .footer-text-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .footer-nav-container .nav-menu {
    flex-direction: row;
    gap: var(--elem-indent-small);
  }

  .footer-text-container div {
    text-align: center;
    padding: var(--elem-indent-small);
    width: 100%;
  }

  .footer-text-container p {
    margin: 0px;
  }

  .footer-text-container ul {
    flex-direction: row;
    margin: 0px;
    gap: var(--elem-indent-small);
  }
}
