.about-section {
  position: relative;
  background-color: var(--sections-background);
}

.about-page-container {
  padding: var(--indent-small);
  display: flex;
}

.serumImg {
  width: 100%;
}

.faceMaskImg {
  position: absolute;
  width: 23%;
  left: 36%;
  bottom: 14%;
}

.about-page-image-container {
  width: 50%;
}

.about-page-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-page-image-container p {
  font-size: var(--font-size-small);
  margin: 10px auto;
  color: var(--text-white);
}

.about-page-text-container h1 {
  padding-left: 15px;
  margin: 0px;
  color: var(--text-gold);
  font-size: var(--font-size-med);
}

.about-right-side-container {
  margin-left: 21%;
}

.section-text {
  margin: 0px;
  text-align: justify;
  font-size: var(--font-size-small);
  padding: var(--text-container-indent-medium);
  color: var(--text-white);
}

/* mobile */

@media (min-width: 1400px) {
  .about-page-image-container {
    width: 60%;
  }

  .about-page-text-container {
    width: 40%;
  }

  .faceMaskImg {
    width: 28%;
    left: 36%;
    bottom: 8%;
  }

  .about-page-text-container {
    height: 550px;
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  .about-section {
    height: 1000px;
  }

  .about-page-container {
    flex-direction: column;
    padding: 0px;
    height: 100%;
  }

  .about-page-image-container {
    width: 100%;
    height: 100%;
  }

  .serumImg {
    display: none;
  }

  .faceMaskImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .about-page-image-container-text {
    background-color: var(--semi-transparent-sections-background);
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    gap: 20px;
  }

  .about-page-image-container-text h1 {
    text-align: center;
    position: relative;
    background-color: transparent;
    padding: 0px;
    height: auto;
    margin: 0;
    color: var(--text-gold);
    width: 50%;
  }

  .about-page-image-container-text p {
    margin: 0;
    width: 50%;
  }

  .about-page-image-container {
    position: relative;
  }

  .about-page-text-container {
    padding: 30px;
    width: 100%;
  }

  .about-right-side-container {
    margin: 0px;
  }
}

@media (max-width: 767px) {
  .about-section {
    height: 750px;
  }
}
