.appointment-section {
  height: 500px;
}

.home-page-container {
  background-color: var(--sections-background);
}

.appointment-text-container {
  height: 100%;
  color: var(--text-white);
  gap: 30px;
  padding: 0 50px;
  width: 60%;
}

.appointment-img-container {
  width: 40%;
  height: 100%;
}

.appointment-header {
  font-size: var(--font-size-med);
}

.appointment-text {
  font-size: var(--font-size-small);
}

@media (max-width: 1024px) {
  .appointment-text-container {
    padding: 0 20px;
  }
}

@media (max-width: 820px) {
  .appointment-section {
    height: 705px;
  }

  .home-page-container {
    flex-direction: column;
  }

  .appointment-text-container {
    width: 100%;
    height: 35%;
    padding: 50px;
    order: 2;
    position: relative;
  }

  .appointment-img-container {
    width: 100%;
    height: 65%;
  }

  .appoitment-btn-container {
    position: absolute;
    top: -100px;
  }
}

@media (max-width: 430px) {
  .appointment-text-container {
    padding: 20px;
  }
}
