.WhiteBg-text-container {
    margin-bottom: var(--indent-small);
}

.WhiteBg-text-container h2 {
    font-size: var(--font-size-med);
    color: var(--text-black);
    margin: 0;
}

.WhiteBg-text-container p {
    font-size: var(--font-size-small);
    margin: 0;
    color: var(--text-gold);
}